.about {
  margin-top: 80px;
  margin-bottom: 80px;

  .container {
    display: block;
  }

  @include breakpoint(mb){
    margin-top: 50px;
  }
}

.about-header {
  text-align: center;
}

.about_copy {
  width: 100%;
  margin: 20px auto 0;
  text-align: center;
  // text-align: justify;
  font-size: 20rem;
  line-height: 1.6;
  letter-spacing: -0.5px;

  @include breakpoint(mb){
    font-size: 16rem;
    margin-top: 20px;
  }
}

.about_link {
  display: block;
  color: $highlight;
  margin-top: 20px;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }

  @include breakpoint(mb){
    margin-top: 24px;
  }
}

.about_col-2 {
  @include flex-center-center;
}

.about_cta {
  position: relative;
  width: 100%;


  @include breakpoint(mb){
    // width: 70%;
    margin-top: 28px;
  }
}

// .about_cta-link {
//   position: relative;
//   // width: 100%;
//   // height: 0;
//   // padding-bottom: 100%;
//   // border-radius: 100%;
//   // border: 2px solid $highlight;
//   // transition: all 0.3s;
//   // background-color: #fff;
//   margin-top: 30px;
//   font-family: $serif;
//   font-size: 16rem;
//   line-height: 1.75;
//   text-align: center;
//   color: #000;

//   &:hover {
//     // border-color: #000;
//     // background-color: #000;

//     .about_cta-copy {
//       color: $highlight;
//     }
//   }

//   @include breakpoint(mb){
//     margin-top: 40px;
//   }
// }

.about_cta-link {
  @extend .serif-header;
  margin-top: 30px;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}


.about_cta-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  font-family: $serif;
  font-size: 18rem;
  line-height: 1.7;
  text-align: center;
  color: #000;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(mb){
    font-size: 5vw;
    letter-spacing: 0;
    line-height: 1.5;
  }
}
