.exp {
  background-color: $lightGrey;
  // padding-bottom: 40px;
  padding: 40px 0 80px;

  @include breakpoint(mb){
    padding-bottom: 0;
  }
}

.exp_info {
  margin-top: 13px;
}

.exp_col-2 {
  display: flex;
  flex-direction: column;

  @include breakpoint(mb){
    display: block;
  }
}

.exp_callout {
  margin-top: 40px;
  padding: 30px;
  background-color: #fff;
  order: 1;

  @include breakpoint(mb){
    width: 114%;
    margin-left: -7%;
    padding: 25px;
  }
}

.exp_employment {
  padding-top: 30px;
  padding-bottom: 30px;

  @include breakpoint(mb){
    padding-bottom: 0;
  }
}

.exp_callout-item {
  .exp_title {
    margin-top: 24px;
    margin-bottom: 3px;
  }
  &:first-child {
    .exp_title {
      margin-top: 0;
    }
  }
}

.exp_callout-copy {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(mb){
    margin-bottom: 13px;
  }
}

.exp_others {
  padding-left: 30px;
  order: 2;

  .exp_title {
    margin-top: 30px;
  }

  @include breakpoint(mb){
    padding-top: 0;
    padding-left: 0;
  }
}

.exp_btn {
  display: block;
  width: 192px;
  height: 48px;
  border: 2px solid #000;
  line-height: 48px;
  text-align: center;
  font-family: $serif;
  font-size: 16rem;
  letter-spacing: 1px;
  transition: background-color 0.25s;

  &:hover {
    background-color: $highlight;
  }

  @include breakpoint(mb){
    // border-width: 1px;
    // font-size: 14rem;
    // width: 100%;
    // height: 40px;
    // line-height: 40px;
    display: none;
  }
}
