.footer {
  background-color: #000;
  color: #fff;
  height: 50px;
  -webkit-font-smoothing: antialiased;
  line-height: 50px;

  @include breakpoint(mb){
    height: 95px;
    line-height: 1.5;
  }
}

.footer_container {
  max-width: $maxWidth;
  margin: 0 auto;

  @include breakpoint(mb){
    padding-top: 30px;
  }
}

.arr {
  color: $highlight;

  @include breakpoint(mb){
    display: none;
  }
}

.footer_link {
  color: #fff;
  transition: color 0.25s;

  &:hover {
    color: $highlight;
  }
}

.footer_el {
  @include breakpoint(mb){
    display: block;
    text-align: center;
  }
}
