html {
  font-size: 6.25%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-size: 14rem;
  line-height: 1.3;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  font-family: $monospace;

  @include breakpoint(mb){
    line-height: 1.5;
  }
}

.clearfix:after {
  display : table;
  clear   : both;
  content : "";
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

img {
    width: 100%;
}

.browserupgrade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  p {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
}

// layout

.pull-right-gt-mb {
  float: right;
  @include breakpoint(mb){
    float: none;
  }
}

.pull-left-gt-mb {
  float: left;

  @include breakpoint(mb){
    float: none;
  }
}

.section {
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  width: 90%;
  max-width: $maxWidth;
  margin: 0 auto;

  @include breakpoint(mb){
    display: block;
    width: 88%;
  }
}

.col {
  width: 50%;

  @include breakpoint(mb){
    width: 100%;
  }
}

// Font styles
.all-caps-mono {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.serif-header {
  font-family: $serif;
  font-size: 18rem;
  line-height: 1.2;
  margin: 35px 0 10px;
  letter-spacing: 1px;

  @include breakpoint(mb){
    font-size: 20rem;
    margin: 25px 0 13px;
    letter-spacing: 0px;
  }
}

.jumbo-type {
  font-family: $serif;
  font-size: 250rem;
  line-height: .84;
  @include breakpoint(tb){
    font-size: 25vw;
  }
}

.less-jumbo-type {
  font-family: $serif;
  font-size: 100rem;
  line-height: .9;

  @include breakpoint(tb){
    font-size: 10vw;
  }
}
