
.slider_container {
  position: relative;
  width: 1024px;
  height: 580px;
  margin: 0 auto;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

    border-top: 20px solid #fff;
  }

  @include breakpoint(tb){
    width: 100%;
    height: 0;
    padding-bottom: 56.640625%;

    &:after {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #fff;
    }
  }
}

.slider_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .slider_container,
// .slider_list,
.slider_item {
  width: 100%;
  height: 100%;
}

$totalSlides: 10;

// Todo: Add retina images
@for $i from 1 through $totalSlides {
  .slide-#{$i} {
    background: url('../images/slides/denton-#{$i}.jpg') center center no-repeat;

    @media screen and (min-resolution: 1.5dppx) and (min-width: 768px) {
      background: url('../images/slides/denton-#{$i}@2x.jpg') center center no-repeat;
      background-size: cover;
    }

    @include breakpoint(tb){
      background-size: cover;
    }

  }
}

.slider_buttons {
  position: absolute;
  bottom: 0;
}

.slider_btn {
  @include no-select;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  border: none;
  border-spacing: 0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 16rem;
  font-weight: lighter;
  line-height: 53px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s, left 0.2s, right 0.2s;
  z-index: 100;

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    background-color: $highlight;
  }

  &.next {
    right: -90px;
  }

  &.prev {
    left: -90px;
  }

  @include breakpoint(dt){
    &.next {
      right: 20px;
    }

    &.prev {
      left: 20px;
    }
  }

  @include breakpoint(mb) {
    display: none;
  }
}
